$text-color: rgb(153, 153, 153);

.wrapper{
	margin-top: 15px;
}

.panel{
	h2{
		font-size: 1.3rem;
		margin-bottom: 20px;
		padding-top: 15px;

	}
}

.top-bar{
	ul{
		margin-left: 0;
	}
}

#search-top-container{
	position: absolute;
	width: 250px;
	height: 42px;
	margin: 7px 0 0 40px;
	background-image: url("../images/icons/fi-magnifying-glass.svg");
	background-repeat: no-repeat;
	color: #FFF;
	background-size: 2.2rem;
	background-position: 5px 0;
	border: solid 2px;
	border-radius: 40px;
}

#search-top{
	width: 200px;
	height: 23px;
	margin-left: 40px;
	padding: 0 0 0 5px;
	border: none;
	color: #FFF;
	background-color: rgba(0, 0, 0, 0);
	font-size: 0.9rem;
	border-radius: 0;
	box-shadow: none;
}

.login {
	background: none;
	border: solid 1px white;
	border-radius: $global-radius;
	font-size: 0.7em;
	padding: 7px 10px 8px 10px;
	float: right;
	bottom: 38px;
}

@media screen and (max-width: 640px){
	#search-top-container{
		width: 220px;
		margin: 7px 0 0 0;
	}

	#search-top{
		width: 180px;
		height: 33px;
		margin-left: 40px;
		padding: 0 0 0 5px;
		border: none;
		color: #FFF;
		background-color: rgba(0, 0, 0, 0);
		font-size: 0.8rem;
		border-radius: 0;
		box-shadow: none;
	}

	.login {
		background: none;
		border: solid 2px #FFF;
		border-radius: 56px;
		font-size: 0.7em;
		padding: 12px 14px 11px 14px;
		float: right;
		bottom: -7px;
	}
}

.subtitle{
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: 400;
	color: dimgrey;
}



.custom-btn{
	color: $primary-color;
	background: white;
	border: solid 1px $primary-color;
	border-radius: $global-radius;
	margin: 20px auto;
}

.centered{
	margin: 0 auto;
	display: table;
}

.screen-width{
	max-width: none !important;
}

body{
	overflow-x: hidden;
}

.contain-to-grid{
	height: 55px;
}

.site-home {
    background: url(../images/site-home-bg.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100% - 50px);
    .row{
    	margin: 0;
    }
}



header{
    display: block;
    height: 50px;
}

.logo {
    display: inline-block;
    height: 42px;
    background-image: url(../images/logo-blue.svg);
    background-repeat: no-repeat; 
    padding-left: 51px;   
    margin-top: 7px;

    h1{
		color: white;
		font-family: 'Open Sans', sans-serif;
    	font-weight: 300;
    	font-size: 1.4rem;
    	line-height: 35px;
	}
}


.subheader{
	color: white;
	font-weight: 300;
	text-shadow: 1px 1px 1px black;
}

.main-header{
	margin-top: 100px;
	margin-bottom:20px;
	text-align: center;
	font-weight: 800;
	color: white;
	font-size: 2.2rem;
	line-height: 3rem;
	text-shadow: 1px 1px 1px black;
}

@media only screen and (max-width: 480px){
	.main-header{
		font-size: 1.6rem;
		line-height: 2.4rem;
		margin-top:25px;
	}
}



.content{
	box-shadow: 0 0px 18px -2px rgba(0, 0, 0, 0.5);

	

	
	
}

.block-header{
	background-color: rgb(63, 169, 245);
	margin: -10px;
	margin-bottom: 0 !important;
	color: white !important;
	text-align: center;
	font-size: 1em;
	font-weight: 300;
	padding:20px 0 20px 0;

}

.thumb-list{
	background-color: white;
}

.thumb{
}

.icon{
	width: 75px;
	height: 75px;
	background-repeat: no-repeat;
	margin: 0 auto;
	text-align: center;
	line-height: 180px;
}

.steak{
	background-image: url(../images/icons/icon-steak.svg);
}
.burger{
	background-image: url(../images/icons/icon-burger.svg);
}
.pizza{
	background-image: url(../images/icons/icon-pizza.svg);
}
.wok{
	background-image: url(../images/icons/icon-wok.svg);
}
.sushi{
	background-image: url(../images/icons/icon-sushi.svg);
}
.spagetti{
	background-image: url(../images/icons/icon-spagetti.svg);
}

.filter{
	padding-bottom: 40px;

	h2{
		text-align: center;
		font-size: 1em;
		font-weight: 300;
		padding:15px 0 10px 0;
	}
}

.right{
	float: right;
}


.filter-subheader{
	font-size: 0.8em;
	margin-bottom: 1em;
	margin-top: 0.7em;
}

.badge{
	background-color: $primary-color;
	color: white;
	border-radius: $global-radius;
	/*border: solid 1px $text-color;*/
	padding: 2px 10px 4px 10px;
	font-size: 0.9em;
	margin-bottom:4px !important;
}

.article-slider{
	box-shadow: 0 -2px 10px 0px rgba(0, 0, 0, 0.4),
				0 2px 10px 0px rgba(0, 0, 0, 0.4);
	padding-bottom: 15px;
}

.logo__grey{
	display: inline-block;
	height: 42px;
	width: 42px;
	background-image: url(../images/logo-grey.svg);
	background-repeat: no-repeat;
	margin: 0 auto;
}

.header{
	padding-top: 0;
}

.restourant-bg{
	display: block;
	position: absolute;
	z-index: -1000;
	top: 0;
}


.element-bg{	
	display: inline-block;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 1;
}

.img-1{
	background: url(../images/demo/site-home-bg.jpg);
	background-size: cover;
}
.img-2{
	background: url(../images/demo/pizza.jpg);
	background-size: cover;
}
.img-3{
	background: url(../images/demo/ow-07.jpg);
	background-size: cover;
}
.img-4{
	background: url(../images/demo/hamburger.jpg);
	background-size: cover;
}
.img-5{
	background: url(../images/demo/Food-Table.jpg);
	background-size: cover;
}
.img-6{
	background: url(../images/demo/521727.jpg);
	background-size: cover;
}

.lp-wrapper{
	margin-top: 170px;
}
.lp-header{
	margin: 40px 0;
	font-weight: 100;
}

.orange{
	
	background-color: #FFA500;
}

.violet{
	background-color: #B63CDD;
}

.orange,
.green,
.violet{
	h3{
		font-weight: 700;
	}
	h3,p{color: rgba(255,255,255,0.8);}
}

.top-bar__lp{
	z-index: 99;
	position: absolute;
	top: 0;
}

.button{
	i{
		font-size: 1.3rem;
		margin-right: 15px;
		line-height: 0rem;
		top: 4px;
		position: relative;
	}
}

.panel:focus,
.panel:hover{
	background-color: #F5FBFD;
}

// Стили футера 

.footer{
	margin-bottom: 20px;
	a{
		p{
			font-weight: 500;
			margin-bottom: 10px;
		}
		color: #808080;
	}
	a:focus,
	a:hover{
		text-decoration: underline;
	}
}

// Cтили посадочной страницы

.index-page__pic{
	height: 150px;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
}